/*! ------------- header - Cabeçalho --------------- !*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merienda', Times, serif;
  }
  
  body {
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
    background: #2f2f2f;
  }
  
  .ajusteLogo {
    width: 150px;
    margin: 10px 20px;
  }
  
  .bgBanner {
    background: linear-gradient(to left, #7C8C03, #f2f2f2, #7C8C03);
  }
  
  
  /*! ------------- header - Barra de navegação  --------------- !*/
  @media only screen and (max-width: 767px) {
    .desktopNavbar {
      display: none;
    }
  }
  
  /* Estilos para desktops */
  @media only screen and (min-width: 768px) {
    .mobileNavbar {
      display: none;
    }
  }

  .ajusteteste {
    height: 10px;
    box-shadow: 0px 0px 5px 1px;
    background: #f2f2f2;
    display: block;
  }
  
  /*------------- HEADER - BARRA NAVEGAÇÃO MOBILE --------------- */
  .navMobile{
    background: #F2F2F2;
    height: 8vh;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 1px 1px #2f2f2f;
  }

  .navImgDesktop {
    font-size: 1.5rem;
    padding: 0px 12px;
    color: #2f2f2f;
    text-align: center;
  }

  .nomeLinkMobile {
    color: #2f2f2f;
    font-size: 0.7rem;
    margin: 0px 0px 4px 0px;
    text-align: center;
    width: 50px;
  }

  .ativoNavDeskop {
    background: #7c8c0346;
    border-radius: 5px 5px 0px 0px;
  }
  /*---------- NAVEGAÇÃO DESKTOP -----------*/
  
  .efeitoMouseDesktop:hover {
    background: rgba(124, 140, 3, 0.8);
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .efeitoMouseDesktop:active {
    background: #7C8C03;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .activeDesktop {
    background: rgba(124, 140, 3, 1);
    border-radius: 0px 5px 5px 0px;
    border-radius: 5px;
    color: #f2f2f2;
  }

  .botaoPadrao {
    border: none;
    background: #7C8C03;
    padding: 8px 10px;
    border-radius: 5px;
  }

  .botaoPadrao a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
  }

  /*-------Main--------*/
  
  .imagemCarrossel {
    width: 200px;
  }
  
  .tamanhoCarrocel {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  /*-- Filtro pesquisa ---*/

  .filtroPesquisa {
    margin: 8px 10px 5px 10px;
    border-radius: 10px;
  }

  .corPesquisa {
    color: #f2f2f2;
    font-weight: bold;
  }

  .corFiltro {
    font-size: 1.5rem;
    color: #f2f2f2;
  }

  .bgFiltro {
    background: #7C8C03;
    border: none;
  }

  .bgFiltro:hover {
    background: rgba(124, 140, 3, 0.5);
  }
/* ----------------------- Personalização cartões de venda ------------------- */
.geralCard {
  background: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
}

  /* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .geralCard {
    width: 100%;
    box-shadow: 0px 0px 3px 3px #7C8C03;
  }

  .imagemVenda {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tamanhoImgVenda{
    width: 40vw;
    border-radius: 10px;
    border: 1px solid #7C8C03;
  }

  .posicaoFavorito {
    position: absolute;
    right: 0;
    margin-right: 20px;
    color: red;
  }

  .tamanhoFavorito {
    font-size: 1.4rem;
   }

  .posicaoFavorito button {
    border: none;
    border-radius: 50%;
    background: white;
  }

  .posicaoFavorito button:hover {
    background: rgba(255, 0, 0, 0.322)
  }

  .posicaoPreco {
    position: absolute;
    background: #A83C01;
    color: #F2F2F2;
    font-size: 1.2rem;
    left: 0;
    margin-left: 15px;
    padding: 2px 5px;
    border-radius: 5px;
  }
  

  .posicaoPreco::before {
    content: "R$ ";
  }

  #nomeProduto {
    padding: 5px 0px;
  }

  #nomeProduto h5 {
    text-align: center;
    background: #7C8C03;
    color: white;
    padding: 5px 0px;
    text-transform: uppercase;
    border-radius: 5px;
  }

  #nomeProduto p {
    text-align: justify;
    padding: 0px 5px;
  }

  .grupoQtdTotal {
    display: flex;
    width: 100%;
  }

  .quantidadeProduto, {
    flex-grow: 1;
  }

  .valorTotalProduto {
    flex-grow: 2;
  }

  .quantidadeProduto {
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #7C8C03;
    text-align: center;
  }

  .valorTotalProduto {
    border: 1px solid #7C8C03;
    border-radius: 0px 5px 0px 0px;
    text-align: center;
  }

  .valorTotalProduto::before {
    content: "Total: R$ ";
  }

  .btn-group {
    display: flex;
    width: 100%;
  }

  .btnComprar, .btnCarrinho {
    flex-grow: 1;
  }

  .btnComprar {
    background: #7C8C03;
    border: 1px solid black;
    border-radius: 0px 0px 0px 5px;
    color: #f2f2f2;
  }

  .btnCarrinho {
    background: #7C8C03;
    border: 1px solid black;
    border-radius: 0px 0px 5px 0px;
  }

  .tamanhoCarrinho {
    color: #f2f2f2;
  }

  .tamanhoCarrinho::after {
    content: " Carrinho";
  }
}

/* Estilos para desktop */
@media (min-width: 768px) {
  .geralCard {
    width: 18rem;
    box-shadow: 0px 0px 3px 3px #7C8C03;
  }

  .tamanhoImgVenda {
    border-radius: 10px;
    border: 1px solid #7C8C03;
  }

  .posicaoFavorito {
    position: absolute;
    margin-left: 230px;
    margin-top: 2px;
    color: red;
  }

  .posicaoFavorito button {
    border: none;
    border-radius: 50%;
    background: white;
  }

  .posicaoFavorito button:hover {
    background: rgba(255, 0, 0, 0.322)
  }

  .tamanhoFavorito {
    font-size: 1.5rem;
   }

  .posicaoPreco {
    position: absolute;
    background: #A83C01;
    color: #F2F2F2;
    margin-right: 223px;
    padding: 5px 15px;
    border-radius: 10px 0px 10px 0px;
  }
  

  .posicaoPreco::before {
    content: "R$ ";
  }

  #nomeProduto {
    padding: 5px 0px;
  }

  #nomeProduto h5 {
    text-align: center;
    background: #7C8C03;
    color: white;
    padding: 5px 0px;
    text-transform: uppercase;
    border-radius: 5px;
  }

  #nomeProduto p {
    text-align: justify;
    padding: 0px 5px;
    height: 110px;
  }

  .quantidadeProduto {
    width: 50%;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #7C8C03;
    text-align: center;
  }

  .valorTotalProduto {
    border: 1px solid #7C8C03;
    border-radius: 0px 5px 0px 0px;
    width: 50%;
    text-align: center;
  }

  .valorTotalProduto::before {
    content: "Total: R$ ";
  }

  .btnComprar {
    background: #7C8C03;
    border: 1px solid black;
    border-radius: 0px 0px 0px 5px;
    width: 133.5px;
    color: #f2f2f2;
  }

  .btnCarrinho {
    background: #7C8C03;
    border: 1px solid black;
    border-radius: 0px 0px 5px 0px;
    width: 133.5px;
  }

  .tamanhoCarrinho {
    color: #f2f2f2;
  }

  .tamanhoCarrinho::after {
    content: " Carrinho";
  }
}

/*--------Footer------*/
#footer {
  background: #7C8C03;
  color: #f2f2f2;
  font-size: 0.8rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 5px 5px #2f2f2f;
}

@media (max-width: 767px) {
  .footerText {
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footerText {
    padding: 10px;
    margin-bottom: 0px;
    text-align: center;
  }
}


